/* stylesheet.css */
body {
    background-color: #00c0e2;
    color: #FFFFFF;
   }
   h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font: italic 400% fantasy;
   }
   p {
    background-color: #01C4C4;
    color: #ffffff;
    text-align: Left;
    font: Courier 300% fantasy;
   }